[Unit]
Description=Run Passport Security website monitor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=passport-site-monitor.service

[Install]
WantedBy=timers.target
